<h1 align="center">Listing All Articles</h1>

<p>
<%= link_to "Create new article", new_article_path, class:"btn btn-primary" %>
</p>
<div class="row">

  <%= render 'article' , obj: @articles%>

</div>