.bg-custom {
  background-color: #999999;
}

@import "bootstrap";


#kt-logo{
  float: left;
  font-size: 1.7em;
  color: #FFFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#kt-logo:hover{
  color: #000;
  text-decoration: none;
}

.center{
  text-align: center;
}