<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://github.com/oraykt/RubyOnRails">Github</a>
      by <a href="https://www.github.com/oraykt">Oray KURT</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>